* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 70%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.left-panel {
    background-color: hwb(236 3% 9%);
    color: white;
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left-panel h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.left-panel p {
    font-size: 16px;
}

.right-panel {
    background-color: white;
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-panel h2 {
    font-size: 24px;
    margin-bottom: 10px;
    
}

.right-panel p {
    font-size: 14px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input, select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.password-strength {
    font-size: 12px;
    color: #888;
    margin-bottom: 20px;
}

.create-account-btn {
    background-color: #a195fa;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.create-account-btn:hover {
    background-color: #8e80f3;
}

.login-link {
    font-size: 14px;
    margin-top: 20px;
}

.login-link a {
    color: #5b3cc4;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
.ii{
margin-left: 150px;
font-size: xx-large;
width: 5px;
margin-bottom: +50px;
}